@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web Shop</h1>
    <p class="lead">Wilkommen auf unserem Webshop.</p>
</div>

<div class="row">
    <img src="~\Content\Img\logo.jpg">
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>